<!-- String {{ interpolation }} -->
<h1>Hola Mundo</h1>
<h2>{{ 'Hola Mundo'.repeat(5) }}</h2>
<p>3 + 3 = {{ 3 + 3 }}</p>
<h3>Hola, soy {{ name }} y tengo {{ age }} y mi aplicacion se llama {{ title }}</h3>
<img src="{{ img }}" alt="imagen" />
<hr />

<!-- Property [ Binding ] -->
<h1>Propiedades</h1>
<button [disabled] = "btnDisabled">Enviar</button>
<input type="text" [value]="name" />
<progress max="100" [value]="person.age"></progress>
<img width="100" [src]="img" alt="" />
<br>
<input type="text" [placeholder]="person.name" />
<input type="number" [value]="person.age" />
<img [src]="person.avatar" alt="avatar" width="100" />

<hr />

<!-- Event (Binding) -->
<h1>Eventos</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toggleButton()">Toggle Butoon</button>
<br>
<p>Edad {{ person.age }}</p>
<button (click)="increaseage()">Age ++</button>
<br>
<div class="box" (scroll)="onScroll($event)">
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis impedit dolor excepturi aut doloribus obcaecati quas molestias ullam, ad repudiandae quis, debitis est in modi placeat nobis laboriosam cum recusandae voluptatibus optio dignissimos magni vel aliquid? Iure illum illo maiores ipsum deserunt. Nostrum rem, explicabo rerum suscipit sit laborum dolorem!</p>
</div>
<p>Nombre {{ person.name }}</p>
<input type="text" [value]="person.name" (keyup)="changeName($event)" />
<br />
<hr />

<!-- Data [(Binding)] -->
<h1>NgModel</h1>
<p>Nombre {{ person.name }}</p>
<input type="text" [(ngModel)]="person.name" />
<br />
<br />
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name" />
<p> Valid: {{ nameInput.valid }}</p>
<br />
<br />
<input type="number" min="10" max="18" required #ageInput="ngModel" [(ngModel)]="person.age" />
<p> Valid: {{ ageInput.valid }}</p>
<hr />

<!-- Directive: *ngIf -->
<h1>*ngIf</h1>
<input type="text" required [(ngModel)]="person.name" />
<p *ngIf="person.name === 'Camiliño'">Soy Camiliño</p>
<p *ngIf="person.name === 'Julian' && person.age === 18; else elseBlock">Soy Julian</p>
<ng-template #elseBlock>
  <p>Bloque de else</p>
</ng-template>

<!-- Directive: *ngFor -->
<h1>*ngFor</h1>
<input type="text" required [(ngModel)]="newName" />
<button (click)="addName()">Add name</button>
<ul>
  <li *ngIf="names.length === 0">No hay nombres</li>
  <!-- names es el nombre del array que tengo en app.componente.ts -->
  <li *ngFor="let name of names, index as i">
    {{ i }} - {{ name }}
    <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>
<hr />

<!-- Directive: *ngFor Object -->
<h1>*ngFor Object</h1>
<div>
  <div *ngFor="let product of products">
    <h3>Nombre: {{ product.name }}</h3>
    <h4>Precio: {{ product.price }}</h4>
    <p *ngIf="product.category != null">Categoria: {{ product.category }}</p>
    <img [src]="product.image" alt="" width="250px">
  </div>
</div>
<hr />

<!-- Directive: [ngSwitch] -->
<h1>[ngSwitch]</h1>
<input type="text" required [(ngModel)]="person.name" />
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'Camiliño'">
    La persona es Camiliño
  </p>
  <p *ngSwitchCase="'Julian'">
    La persona es Julian
  </p>
  <p *ngSwitchCase="'Camilo'">
    La persona es Camilo
  </p>
  <p *ngSwitchDefault>
    No match
  </p>
</div>
<hr />
